::selection{
	color: white;
	background-color: green;
}
*,:before,:after{
/*	border: 1px solid darkred;*/
	padding: 0;
	margin: 0;
	/*text-align: center;*/
}
body{
	bac
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
}
.nav-bar{
	width: 80%;
	margin: 0 auto;
}
.nav-container{
	background-color: #222211;
}
.nav-link{
	text-decoration: none;
	color: white !important;
}
.nav-item{
	padding: 0 1rem;
}
.nav-link{
	font-size: 1.3rem;
}
#home{
/*	#c3c388 #b2b266*/
background-color: #c3c388;
}
.home-container{
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}
.text-container{
	width: 55%;
	padding: 4% 8%;
	text-align: center;
	color: black;
}
.hello+.name+.profession+.about-text{
	margin-top: 2rem;
}
.hello{
	margin-top: 0;
	font-size: 4.6em;
	font-weight: 900;
}
.name{
	font-size: 3.5em;
	font-weight: 500;
}
.profession{
	font-size: 2.5rem;
}
.profession:hover{
	color: green;
}
.about-text{
	text-align: justify;
	font-size: 1.16rem;
	line-height: 1.7;
	font-weight: 400;
}
.profile-image{
 width: 30%;
 align-self: flex-end;
}
.heading-primary{
	margin: 1em 0;
	background-color: #55552b;
	color: white;
	padding: .2em 0;
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
}
#education{
	background-color: #c3c388;
}
.education-container{
	gap: 1em;
	padding: 4% 8%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.education-description{
	padding: 10px;
}
.education{

}
/*skills part*/
#skills{
	background-color: #c3c388;

}
.skill-container{
	display: flex;
	flex-direction: row;
	gap: 1.5em;
	margin: 2em;
	justify-content: space-between;
	padding: 4% 0%;
/*	border-radius: 50px;*/
}
.skill{
	width: 100%;
	background-color: white;
	padding: 2%;
	border-radius: 12px;
}
.skill:hover{
	opacity: .8;
	background-color: rgba(0, 0, 0, .10);
/*	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 8px 12px 0 rgba(0,0,0,0.19);*/
}
.skill-image{
	width: 100%;
}

#projects{
	background-color: #c3c388;
}
.project-container{
	display: flex;
	gap: 2rem;
	text-align: center;
	padding: 2%;
	padding-left: 8%;
}
.project{
	background-color: white;
	border-radius: 15px;
	padding: 2%;
	color: black;
	font-weight: 300;
/*	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);*/
	
}
.containerr{
	width: 70%;
	margin: auto;
}
.project:hover{
	background-color: rgba(0, 0, 0, .10);
/*	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 8px 12px 0 rgba(0,0,0,0.19);*/
}
span{
	display: block;
	padding-left: 5%;
	text-align: left;
}
.project-image{
	width: 90%;
	margin-bottom: 5%;
	border-radius: 10px;
}
.calc{
/*	height: 90vh;*/
}
footer{
	padding: 2em;
	text-align: center;
	background-color: #1a1300;
	color: white;

}
.social{
	zoom: 130%;
	padding: 1rem 1rem;
	color: white;
}
.social:hover{
	color: hotpink;
	cursor: pointer;
}
.container {
	text-align: left;
	font-size: 13px;
	float: top right;
	margin: 4% auto;
  width: 80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  opacity: .9;
  padding: 4px;
}

@media (max-width: 600px)
{
	.about-text{
			margin-bottom: 2em;
	}
	.education-container{
	display: block;
}
.containerr{
	width: 100%;
}
	body{
		text-align: center !important;
	}
	.profile-image{
		display: none;
	}
	.text-container,.home-container{
		display: block;
	}
	.skill-container{
		display: block;
	}
	.skill{
		display: inline-block;
		width: 20%;
		margin: 1em;
	}
	.text-container{
		width: 90%;
		max-width: 100%;
		text-align: center;
	}
	.project{
		width: 100%;
	}
	.button{
		padding: 4px 12px;
	}

}
